body {
  font-family: 'Arial',;font-style: oblique;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: palegoldenrod;
  color:brown;
}

header {
  background-color:peru;
  color:silver;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
}

.logo img {
  height: 50px;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links ul li {
  margin-left: 20px;
}

.nav-links ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.nav-links ul li a:hover {
  color: black;
}

/* Hero Section */

.hero {
  text-align: center;
  padding: 100px 20px;
  background: url('/img_n.jpg') no-repeat center center/cover;
  color: brown;
  animation:fadein ease-in-out 7s;
  animation-iteration-count: infinite;
  font-size: bold;
  font-style: oblique;
  font-family:'Times New Roman';
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.cta-button{
  display:inline-block;
  padding: 10px 20px;
  background-color: white;
  color: brown;
  text-decoration: none;
  border-radius: 7px;
  transition: background-color 0.3s ease;
  font: bolder;
  font-family: 'Times New Roman';
}
.btn{
  display:inline-block;
  padding: 10px;
  margin:auto;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
.btn:hover{
  background-color:peru;
}
.cta-button:hover {
  background-color:peru ;
  
}

/* Gallery Section */
.gallery {
  display: flex;
  justify-content:center;
  flex-wrap:wrap-reverse;
  padding: 20px;
  gap: 2px;
}

.gallery-img {
  max-width:100px;
  height: auto;
  margin: 5px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.pic1{
  display:flex;
  justify-content: right;
  flex-direction: column-reverse;
  margin: 5px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.gallery-img:hover {
  transform: scale(1.05);
}

/* Content Section */
.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.content p {
  margin-bottom: 20px;
}

.jump-link {
  color: brown;
  text-decoration: none;
}

.jump-link:hover {
  text-decoration:underline;
}

/* Quote Section */
.quote {
  background-color:burlywood;
  color: white;
  padding: 20px;
  text-align: center;
}

.quote blockquote {
  font-style: italic;
  margin: 0;
}

/* Buttons Section */
.buttons {
  text-align: center;
  padding: 20px;
}

/* Footer Links */
.footer-links {
  text-align: center;
  padding: 20px;
  background-color: peru;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: goldenrod;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color:peachpuff;
  color:black;
}

footer address {
  font-style:oblique;
}

footer cite {
  font-style: italic;
}